<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
   {{>header}}
    <main class="container">
        <h2>{{title}}</h2>
        <div class="form-container">
            <form  method="POST" action="/edit/{{task.id}}" class="flex form">
                {{#if errorMsg}}
                <div class="error-msg">
                    <p> {{errorMsg}}</p>
                </div>
                {{/if}}
                <div class="form-control">
                    <label for="title">Title :</label>
                    <input name="title" value="{{task.title}}" placeholder='title of your task...' type="text">
                </div>
                <div class="form-control">
                    <label for="task">Task :</label>
                    <textarea name="desc" placeholder='discribe your task...' class="textarea">{{task.desc}}</textarea>
                </div>
                <div class="form-control">
                     <label for="complete date">Complete IN :</label>
                    <input name="completeDate" type="date">
                </div>
                <button type="submit" class="submit-btn edit-btn"> Edit MY TASK </button> 
        </div>
    </main>
</body>
</html>

